export(meta4diag,
	meta4diagGUI,
	makePriors,
	makeData,
	runModel,
	forest,
	forest.meta4diag,
	SROC,
	SROC.meta4diag,
	fitted.meta4diag,
	crosshair,
	crosshair.meta4diag,
	plot.meta4diag,
	summary.meta4diag,
	print.meta4diag,
	print.summary.meta4diag,
	makeObject)


S3method(SROC,meta4diag)
S3method(crosshair,meta4diag)
S3method(forest,meta4diag)
S3method(fitted,meta4diag)
S3method(print,summary.meta4diag)
S3method(print,meta4diag)
S3method(plot,meta4diag)
S3method(summary,meta4diag)

import(RGtk2)
import(cairoDevice)
import(grid)
import(methods)
